
abstract=The development of intelligent (machine learning or AI-based) applications increasingly require governance models and processes, as financial legal sanctions are more and more being associated with violation of policies (e.g. due to GDPR). An ontology representing the (informed) consent that was captured by an organization can be used to assess a dataset prior its use in any type of data processing activities. We demonstrate the utility using a particular scenario, where datasets are generated “just in time” for a particular purpose such as sending newsletters. This scenario shows how data processing activities can be managed to in such a way as to support compliance verification. This is a work in progress.
ontologyTitle=An Ontology for Consent-aware Mapping Engine for Generating
ontologyPrefix=consent
ontologyNamespaceURI=https://w3id.org/consent-mapping-jit#
ontologyName=Consent
thisVersionURI=https://w3id.org/consent-mapping-jit/v/1.0#
latestVersionURI=https://w3id.org/consent-mapping-jit#
previousVersionURI=
dateOfRelease=2018-08-24
ontologyRevisionNumber=1.0
licenseURI=https://creativecommons.org/licenses/by/4.0/
licenseName=CC-by-4.0
licenseIconURL=https://licensebuttons.net/l/by/4.0/88x31.png
citeAs=
DOI=
status=Ontology Specification Draft
backwardsCompatibleWith=
publisher=ADAPT Centre
publisherURI=https://adaptcentre.ie/
publisherInstitution=Trinity College Dublin
publisherInstitutionURI=https://tcd.ie/
authors=Christophe Debruyne, Harshvardhan J. Pandit
authorsURI=
authorsInstitution=Trinity College Dublin
authorsInstitutionURI=https://tcd.ie/
contributors=
contributorsURI=
contributorsInstitution=
contributorsInstitutionURI=
importedOntologyNames=
importedOntologyURIs=
extendedOntologyNames=
extendedOntologyURIs=
RDFXMLSerialization=ontology.xml
TurtleSerialization=ontology.ttl
N3Serialization=ontology.nt
JSONLDSerialization=ontology.json
